<h6>
  Pipe is a class decorator. It takes in data as input and transforms it to a
  desired output eg. date format
</h6>

<div class="row mb-4">
  <div class="col-6">
    <div class="card">
      <div class="card-header">angular's pipes</div>
      <div class="card-body">
        {{ user.name | uppercase }}
        <br />
        {{ user | json }}
        <br />
        <!--https://angular.io/docs/ts/latest/api/common/DatePipe-class.html-->
        {{ today | date }}
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">custom translate pipe</div>
      <div class="card-body">
        {{ 'welcome' | translate:'pl' }}
        <br />
        {{ 'welcome' | translate:'de' }}
        <br />
        {{ 'welcome' | translate:'notExist' }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">custom limit pipe</div>
      <div class="card-body">
        <div *ngFor="let item of items | limiter:3">{{item}}</div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">custom search pipe</div>
      <div class="card-body">
        <input class="form-control" type="text" #searchInput ngModel />
        <ul>
          <li *ngFor="let item of items | search:searchInput.value">
            {{item}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
