<div class="row">
    <form class="col-9" [formGroup]="myForm" (submit)="onSubmit(myForm)">

        <div class="card card-body bg-light">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="sku">Sku</label>
                    <input id="sku" class="form-control" formControlName="sku">
                    <div class="badge badge-danger" *ngIf="!myForm.get('sku').valid">is invalid</div>
                    <div class="badge badge-danger" *ngIf="myForm.get('sku').hasError('required')">is required</div>
                    <div class="badge badge-danger" *ngIf="myForm.get('sku').hasError('invalidSku')">
                        {{myForm.get('sku').errors.invalidSku.msg}}
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="nip">Nip</label>
                    <input id="nip" class="form-control" formControlName="nip">
                    <div class="badge badge-danger" *ngIf="!myForm.get('nip').valid">NIP is invalid</div>
                    <div class="badge badge-danger" *ngIf="myForm.get('nip').hasError('invalidNip')">
                        {{myForm.get('nip').errors.invalidNip.msg}}
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" formControlName="email">
                    <small>try admin@localhost to see server error</small>
                    <br>
                    <span class="badge badge-danger" *ngIf="myForm.get('email').pending">
                        async
                    </span>
                    <div class="badge badge-warning">
                        {{myForm.get('email').errors | json}}
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Gender</label>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" id="woman" type="radio" [value]="'woman'"
                            formControlName="gender">
                        <label class="form-check-label" for="woman">woman</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="man" type="radio" [value]="'man'" formControlName="gender">
                        <label class="form-check-label" for="man">man</label>
                    </div>
                    <div class="badge badge-danger" *ngIf="myForm.get('gender').hasError('required')">is required</div>
                </div>

                <div class="form-group col-md-4" formGroupName="interests">
                    <label>Your hobby</label>
                    <br>
                    <label class="badge border mr-1 p-2"
                        *ngFor="let el of myForm.get('interests')['controls'] | keyvalue ">
                        {{el.key}}
                        <input type="checkbox" [formControlName]="el.key">
                    </label>
                    <div class="badge badge-danger"
                        *ngIf="myForm.get('interests').hasError('atLeastOneIsRequiredInvalid')">
                        {{myForm.get('interests').errors.atLeastOneIsRequiredInvalid.msg}}
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Language</label>
                    <br>
                    <select class="border btn btn-sm" formControlName="language">
                        <option selected value="" disabled>select one</option>
                        <option *ngFor="let opt of ['pl', 'en']" [value]="opt">
                            {{opt}}
                        </option>
                    </select>
                    <br>
                    <div class="badge badge-danger">
                        {{myForm.get('language').errors | keyvalue | json}}
                    </div>
                </div>
            </div>

        </div>

        <button [disabled]="!myForm.valid" class="btn btn-primary mt-2" type="submit">Submit</button>
        <div class="badge badge-info ml-1">valid: {{myForm.valid}}</div>
    </form>

    <div class="col-3">
        <pre class="alert alert-info">{{myForm.value|json}}</pre>
    </div>

</div>
