<h6>
    Lifecycle hooks - are the way Angular allows you to add code that runs before or after each step of
    the directive/component lifecycle. The list of hooks Angular offers are:
    OnInit, OnDestroy, DoCheck, OnChanges, AfterContentInit,
    AfterContentChecked, AfterViewInit, AfterViewChecked
</h6>
<div>
    <nav class="nav nav-tabs">
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['./on-init']">onInit / onDestroy</a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['./on-changes']">OnChanges</a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['./after-view-init']">
            AfterViewInit / AfterContentInit
        </a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']"
            [routerLink]="['./do-check-iterable']">DoCheckIterable - advanced</a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['./do-check-object']">DoCheckObject
            - advanced</a>
        <hr>
    </nav>
    <br>
    <router-outlet></router-outlet>

</div>
