<div class="container-fluid">
    <nav class="nav nav-pills mt-1">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="init">init</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="component">component</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="directives">directives</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="user-events">user events</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="dom-modyfication">DOM modyfication</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="service">service</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="pipes">pipes</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="http">http</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="form-template-driven">template form</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="form-model-driven">model form</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="routes">routes</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="upload">upload</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="lifecycle">lifecycle</a>
    </nav>
    <br>
    <main>
        <router-outlet></router-outlet>
    </main>
    <br>
    <course-footer courses></course-footer>

</div>
