<div class="row">
    <div class="col-9">
        <form class="card card-body bg-light" novalidate #f="ngForm">
            <div class="form-group">
                <label>
                    Name | html validator
                    <input type="text" name="name" placeholder="minlength 3" class="form-control" required minlength="3" ngModel>
                </label>
                <br>
                <div class="badge badge-warning">
                    errors: {{f.controls['name']?.errors | json}}
                </div>
            </div>
            <div class="form-group">
                <label>
                    Zip code | html validator
                    <input type="text" name="zip" placeholder="eg. 00-555" class="form-control" required pattern="\d{2}-\d{3}" ngModel>
                </label>
                <br>
                <div class="badge badge-warning">
                    errors: {{f.controls['zip']?.errors | json}}
                </div>
            </div>
            <div class="form-group">
                <label>
                    Age - you should be adult | custom validator
                    <input type="number" placeholder="number" adultValidator name="age" class="form-control" ngModel>
                </label>
                <br>
                <div class="badge badge-warning">
                    errors: {{f.controls['age']?.errors | json}}
                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <div class="badge badge-info">valid: {{f.valid}}</div>
        <pre class="alert alert-info">values: {{f.value | json}}</pre>
    </div>


</div>
