<h6>HTTP comunitaction - you can update price after login</h6>

<button class="btn btn-sm btn-primary mr-1" (click)="signIn()">sign in</button>
<span
  class="badge"
  [class.badge-success]="access"
  [class.badge-danger]="!access"
  >access: {{ access }}</span
>
<span class="badge badge-danger" [hidden]="!updating">updating...</span>
<hr />
<span class="badge badge-info" *ngIf="items"
  >Data from server; items total: {{ items.length }}</span
>
<br />

<div
  *ngFor="let item of items | slice: 0:5; let lp = index"
  class="row align-items-center my-2"
>
  <div class="col-auto">{{ lp + 1 }}</div>
  <div class="col-auto">{{ item.title }}</div>
  <div class="col-auto">
    <input
      class="form-control"
      type="number"
      [disabled]="!authService.isLogged"
      [value]="item.price"
      (input)="update(item, $event.target.value)"
    />
  </div>
</div>
