<h6>DOM modyfication</h6>

<div class="row mb-4">
  <div class="col-4">
    <div class="card">
      <div class="card-header">Interpolation</div>
      <div class="card-body">user name: {{userName}}</div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">form input with input and output</div>
      <div class="card-body">
        <input
          class="form-control"
          [value]="userName"
          (input)="userName=$event.target.value"
        />
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">two way data binding</div>
      <div class="card-body">
        <input class="form-control" [(ngModel)]="userName" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">input disabled</div>
      <div class="card-body">
        <input class="form-control" [disabled]="!access" [value]="userName" />
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">div tag with editable content</div>
      <div
        [contentEditable]="editable"
        style="border: 2px dashed black; padding: 10px"
        (input)="userName=$event.target.innerText"
      >
        write something
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">set innerHtml property</div>
      <div class="card-body" [innerHtml]="tagContent"></div>
    </div>
  </div>
</div>
