<h6>User event reaction</h6>

<div class="row">

  <div class="col-4">
    <div class="card" (mousemove)="move($event)">
        <div class="card-header">mouse event - move mouse here</div>
        <div class="card-body">
            <p>mousePosition: {{mousePosition | json}}</p>
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
        <div class="card-header">input and keydown - write something and press enter</div>
        <div class="card-body">
            <input placeholder="write something; press enter or click button" class="form-control" #myInput
                (keydown.enter)="action(myInput.value)">
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
        <div class="card-header">click</div>
        <div class="card-body">
            <button class="btn btn-primary" (click)="action(myInput.value)">
                click me
            </button>
        </div>
    </div>
  </div>

</div>
